body{
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 0;
    padding: 20 px 0;
}

.head{
    background-color: white;
    padding: 30px 0;
}

.feed{
    max-width: 600px;
    margin: 40px auto 0 auto;
}

.post{
    background-color: white;
    border-radius: 4px;
    margin-bottom: 25px;
    overflow: hidden;
}

.post-header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}

img{
    width: 100%;
    height: auto;
}